In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../')

In [2]:
df = pd.read_csv("data/series_matrix/e-tabm-158_series_matrix.csv")

In [3]:
df.head()

,ID_REF,b0326_hyb,b0521_hyb,s0181_hyb,b0433_hyb,b0318_hyb,s0200_hyb,b0382_hyb,b0344_hyb,b0354_hyb,...,b0243_hyb,s0059_hyb,b0672_hyb,b0667_hyb,b0629_hyb,s0101_hyb,s1551_hyb,b0165_hyb,s0168_hyb,s1511_hyb
0,1007_s_at,10.798559,11.025179,10.953824,10.871078,11.399529,11.080688,9.758425,9.735426,10.797899,...,9.589976,10.709085,11.209370,10.144769,11.080833,10.150915,10.679596,10.169815,11.112414,10.349621
1,1053_at,6.856453,7.259032,7.045243,6.714253,7.559966,6.265368,6.666208,6.078073,6.099983,...,6.483056,5.676475,6.598998,7.232840,7.121658,6.813880,6.155246,6.182588,6.062609,7.587872
2,117_at,5.847425,7.602434,6.269108,7.320643,7.420993,6.710505,9.293299,6.671165,6.930594,...,6.879415,6.167967,6.859725,7.278845,6.800629,8.843442,7.257590,6.462042,6.612400,6.423407
3,121_at,6.849020,7.570439,7.579033,7.065588,6.575805,6.717207,7.311644,7.756691,7.280319,...,7.565458,7.807919,6.908422,6.522332,7.478779,6.629481,7.020943,7.136609,7.228180,6.437141
4,1255_g_at,4.199792,4.220914,4.483762,4.429117,4.146078,4.322627,4.335499,4.527507,4.270755,...,4.573017,4.524872,4.303813,4.257574,4.184689,4.716698,4.261655,4.341225,4.411546,4.306702

In [4]:
col_list = [list(df.columns)[0]]
for x in df.columns[1:]:
    col_list.append(str(x).replace("_hyb",""))
df.columns = col_list
df.head()

,ID_REF,b0326,b0521,s0181,b0433,b0318,s0200,b0382,b0344,b0354,...,b0243,s0059,b0672,b0667,b0629,s0101,s1551,b0165,s0168,s1511
0,1007_s_at,10.798559,11.025179,10.953824,10.871078,11.399529,11.080688,9.758425,9.735426,10.797899,...,9.589976,10.709085,11.209370,10.144769,11.080833,10.150915,10.679596,10.169815,11.112414,10.349621
1,1053_at,6.856453,7.259032,7.045243,6.714253,7.559966,6.265368,6.666208,6.078073,6.099983,...,6.483056,5.676475,6.598998,7.232840,7.121658,6.813880,6.155246,6.182588,6.062609,7.587872
2,117_at,5.847425,7.602434,6.269108,7.320643,7.420993,6.710505,9.293299,6.671165,6.930594,...,6.879415,6.167967,6.859725,7.278845,6.800629,8.843442,7.257590,6.462042,6.612400,6.423407
3,121_at,6.849020,7.570439,7.579033,7.065588,6.575805,6.717207,7.311644,7.756691,7.280319,...,7.565458,7.807919,6.908422,6.522332,7.478779,6.629481,7.020943,7.136609,7.228180,6.437141
4,1255_g_at,4.199792,4.220914,4.483762,4.429117,4.146078,4.322627,4.335499,4.527507,4.270755,...,4.573017,4.524872,4.303813,4.257574,4.184689,4.716698,4.261655,4.341225,4.411546,4.306702

In [5]:
df.to_csv("data/series_matrix/e-tabm-158_series_matrix_hyb_removed.csv")